.console
{
    height: 300px;
    width:610px;
    max-height:300px;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    color:white;
    background-color:black;
    overflow:auto;
}

.charStats
{
    height: 30px;
    width:610px;
    max-height:30px;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    color:white;
    background-color:gray;
    overflow:auto;
}


.input
{
    color: lightskyblue;
}

.error
{
    color:red;
}

.combatMob
{
    color: darkorange;
}

.combatPlayer
{
    color: aqua;
}

.combatMiss
{
    color: grey;
}

.combatHit
{
    color: red;
    font-weight: bold;